@model IEnumerable<ExperienceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Deneyim Sayfası</h1>
<table class="table table-bordered">
    <tr>

        <th>Firma Adı</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ExperienceName</td>
            <td>@item.Description</td>
            <td>@item.Date</td>

            @*<td><a href="/Experience/DeleteExperience/@item.Id"  class="btn btn-danger">Delete</a></td>*@
            <td><a asp-action="DeleteExperience" asp-controller="Experience" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silme işlemi onaylansın mı?')">Sil</a></td>
            <td><a asp-action="UpdateExperience" asp-controller="Experience" asp-route-id="@item.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a asp-controller="Experience" asp-action="AddExperience" class="btn btn-primary"> Yeni Kayıt Ekle</a>

