@model IEnumerable<ContactAddressDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>İletişim Sayfası</h1>

<table class="table table-bordered">
    <tr>

        <th>Adres</th>
        <th>E-Mail</th>
        <th>Telefon</th>       
        <th>Sil</th>        
        <th>Düzenle</th>        
    </tr>


    @foreach (var item in Model)
    {
            <tr>

                <td>@item.Address</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>                

            @*<td><a href="/Experience/DeleteExperience/@item.Id"  class="btn btn-danger">Delete</a></td>*@
                <td><a asp-action="DeleteContact" asp-controller="ContactAddress" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silme işlemi onaylansın mı?')">Sil</a></td>
            
                <td><a asp-action="UpdateContact" asp-controller="ContactAddress" asp-route-id="@item.Id" class="btn btn-danger">Güncelle</a></td>
            </tr>
    }
</table>
